<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.userInfo.mapper.UserInfoMapper">


    <select id="selectById" resultType="com.admin.userInfo.response.LoginUserResponse">
        SELECT id, username,avatar, password, phone, create_time, update_time,name
        FROM user_info
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="com.admin.userInfo.entity.UserInfoEntity">
        SELECT *
        FROM user_info
        WHERE username = #{username}
    </select>
</mapper>